<!DOCTYPE html>
<head>
    <meta charset="utf-8" name="google-signin-client_id" content="789985821020-7adk61b8g27ncctdfkhfnumnno94fmbb.apps.googleusercontent.com">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <style>
        .maillist {
            width: 100%;
            height: 100%;
            padding: 5px;
            margin: 0px 5px;
            overflow: hidden;
            color: white;
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .ticker {
            width: 730px;
            height: 8em;
            overflow: hidden;
            margin: 0;
            padding: 0;
            list-style: none;
            border-radius: 6px;
        }
    </style>
</head>
<body>
<div class="col-md-12">
    <div class="card">
        <div class = "card-header">
            <h2 class="card-title" style = "display: inline;"> Gmail </h2>
            <span style = "color:gray">읽지 않은 메시지를 최대 10건 보여줍니다.</span>
        </div>
        <div class = "card-body">
            {% if first_signin == 1 %}
            <form method="post">
            {% csrf_token %}
                <div style="text-align: center;">
                    <button type="submit" name="gmail_signin" value="T" style="padding:0; border:none; background:none;">
                        <img src="../../static/assets/img/google_signinbtn.png" width="200">
                    </button>
                </div>
            </form>
            {% else %}
            <ul id="ticker_03" class="ticker">
                <li class = "maillist">
                    From:  {{ From.0 }} <br>
                    Subject:  {{ Subject.0 }} <br><br>
                    {{ Snippet.0 }}</li>
                <li class = "maillist">
                    From:  {{ From.1 }} <br>
                    Subject:  {{ Subject.1 }}<br><br>
                    {{ Snippet.1 }}</li>
                <li class = "maillist">
                    From:  {{ From.2 }} <br>
                    Subject:  {{ Subject.2 }} <br><br>
                    {{ Snippet.2 }}</li>
                <li class = "maillist">
                    From:  {{ From.3 }} <br>
                    Subject:  {{ Subject.3 }} <br><br>
                    {{ Snippet.3 }}</li>
                <li class = "maillist">
                    From:  {{ From.4 }} <br>
                    Subject:  {{ Subject.4 }} <br><br>
                    {{ Snippet.4 }}</li>
                <li class = "maillist">
                    From:  {{ From.5 }} <br>
                    Subject:  {{ Subject.5 }} <br><br>
                    {{ Snippet.5 }}</li>
                <li class = "maillist">
                    From:  {{ From.6 }} <br>
                    Subject:  {{ Subject.6 }} <br><br>
                    {{ Snippet.6 }}</li>
                <li class = "maillist">
                    From:  {{ From.7 }} <br>
                    Subject:  {{ Subject.7 }} <br><br>
                    {{ Snippet.7 }}</li>
                <li class = "maillist">
                    From:  {{ From.8 }} <br>
                    Subject:  {{ Subject.8 }} <br><br>
                    {{ Snippet.8 }}</li>
                <li class = "maillist">
                    From:  {{ From.9 }} <br>
                    Subject:  {{ Subject.9 }} <br><br>
                    {{ Snippet.9 }}</li>
            </ul>
            {% endif %}
        </div>

    </div>
</div>

<script>
    function tick3(){
		$('#ticker_03 li:first').slideUp( function () { $(this).appendTo($('#ticker_03')).slideDown(); });
	}
	setInterval(function(){ tick3 () }, 8000);
</script>

</body>
</html>

