
      <div class="col-lg-6 col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> 주식 </h4>
          </div>
          <div class="card-body">
              <h5>코스피</h5>
              <h6> {{ kospi.0 }} </h6>
              <h6> {{ kospi.1 }} &nbsp;&nbsp;&nbsp; {{kospi.2}} </h6>
              <img src = "{{kospi.3}}" alt = "코스피 그래프"/>
              <h6>개인: {{kospi.4}} &nbsp;&nbsp;외국인: {{kospi.5}}&nbsp;&nbsp;기관:{{kospi.6}}</h6>
            <br><br>
              <h5>코스닥</h5>
              <h6> {{ kosdaq.0 }} </h6>
              <h6> {{ kosdaq.1 }} &nbsp;&nbsp;&nbsp; {{kosdaq.2}} </h6>
              <img src = "{{kosdaq.3}}" alt = "코스닥 그래프"/>
              <h6>개인: {{kosdaq.4}} &nbsp;&nbsp;외국인: {{kosdaq.5}}&nbsp;&nbsp;기관:{{kosdaq.6}}</h6>
          </div>
        </div>
      </div>
